<!doctype html>
<html lang="en"
      ng-app="movieApp">
<head>
    <meta charset="UTF-8">
    <title>Movie 42</title>
</head>
<body ng-controller="MovieController">
    <p>Liste des films</p>

    <ol>
        <li ng-repeat="movie in movies">
            {{ movie.title }} - {{ movie.id }}
        </li>
    </ol>
    <form>
        <input type="text" ng-model="movie.title" name="title"/>
        <button ng-click="saveMovie()"
                name="submit">Submit</button>
    </form>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/movieService.js"></script>
</body>
</html>
